In [2]:
## varaibles
""" varaibles are fundamental elememnt in programming language used 
to store data that can be refrenced and manipulated in programe. in
 python  varaibles are created when u assign a value to them and they 
 do not need explicit declaration to reserve memeory space .
 the declaration happens automatically when u assign a value to a varaible """


age=24

In [5]:
## declarting and assigning varaibles

age=24
height=5.8
name="Himanshu vishwakarma"
print(age,height,name)
is_Men=True
print(type(is_Men))

24 5.8 Himanshu vishwakarma
<class 'bool'>

In [6]:
## Naming convention
## varaible name should be descriptive
## they must start with a letter or an '_' and contains letter ,number and underscores 
## varaible name are case sensitive

#valid names

first_name="Himanshu"
last_name="Vishwakarma"

In [7]:
2age=24

SyntaxError: invalid decimal literal (1839482436.py, line 1)

In [10]:
name="himanshu"
Name="himanshu"
age=5.8
print(type(age))
print(name==Name)

<class 'float'>
True

In [16]:
##type conversion
age=24
print(type(age))

#type convertion
age_str=str(age)
print(age_str)
print(type(age))

<class 'int'>
24
<class 'int'>

In [17]:
height2=5.8
print(int(height2))

5

In [ ]:
## dynamic typing
## Python allowes the type of nvaraible to chanjge as ther plrokgrame executes
var=10 #int 
print(var,type(var))

10 <class 'int'>

In [25]:
#input
age=int(input("what is the age"))

print(age,type(age))

5 <class 'int'>

In [26]:
## Simple Calculator
num1=float(input("Enter Your Number"))
num2=float(input("Enter Your Number"))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("Sum:",sum)
print("Difference:",difference)
print("product:",product)
print("quotient",quotient)

Sum: 5.0
Difference: -1.0
product: 6.0
quotient 0.6666666666666666