In [1]:
##Arithmatic operation

a=10
b=5

add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b
floor_div_result=a//b
modulus_result=a%b
exponent_result=a**b
print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [3]:
## Comparison Operators
## ==
a=10
b=10

print(a==b)

True

In [4]:
str1="Himanshu"
str2="himanshu"
print(str1==str2)

False

In [6]:
## greater than 
num1=45
num2=55
print(num1>num2)

False

In [7]:
number1=45
number2=45
print(number1<=number2)

True

In [9]:
## Logical operators
## And ,Not ,Or

x=True
y=True

result=x and y
print(result)

True

In [10]:
x=False
y=False
result2=x or y
print(result2)

False

In [11]:
## Not operator
x=True
not x

False