In [2]:
## creatinkg a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
number=tuple([1,2,3,4,5,6,7])
number

(1, 2, 3, 4, 5, 6, 7)

In [5]:
mixed_tuple=(1,"Hello world",3.14,True)
print(mixed_tuple)

(1, 'Hello world', 3.14, True)

In [6]:
## Accessing Tuple Elements
number

(1, 2, 3, 4, 5, 6, 7)

In [8]:
print(number[2])
print (number[-1])

3
7

In [9]:
number[0:4]

(1, 2, 3, 4)

In [10]:
number[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [13]:
## Tuple Operation
concatenation_tuple=number+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 1, 'Hello world', 3.14, True)

In [14]:
mixed_tuple*3

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [15]:
number*3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [17]:
## Immutable Nature of Tuple
lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [19]:
number[2]="Himanshu"
number

TypeError: 'tuple' object does not support item assignment

In [20]:
## Tuple Methods
print(number.count(1))
print(number.index(3))

1
2

In [21]:
## packing and unpacking tuple
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [22]:
## unpacking of tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [23]:
## unpackingm with star(*)
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [25]:
## Nested Tuple
lst=[[1,2,3,4,5],[6,7,8,9,10],[1,"Hello",3.14,"c"]]
print(lst[0][2])

3

In [ ]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1])

In [29]:
## iterating over nested tuple
nested_tuple=((1,2,3),("a","b","c"),(True,False))
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False