In [2]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_empty_set=set([1,2,3,4,5,6,])
print(type(my_empty_set))

<class 'set'>

In [ ]:
## Basic set operation
## Adding and Removing Elements
## set don't hols the duplicates
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [7]:
## Removing The Elements
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [ ]:
## throws an error if user removes the data which neither exists in set
my_set.remove(10)

KeyError: 10

In [13]:
print(my_set)
my_set.discard(11)

{1, 2, 4, 5, 7}

In [ ]:

print(my_set)

{1, 2, 4, 5, 7}

In [14]:
## pop Method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [15]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [ ]:
## set Membership test

my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
#mathematical operation 
set1={1,3,4,5,6,7}
set2={8,9,10,11,12}

## union set
union_set=set1.union(set2)
print(union_set)

##Intersection set
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set()

In [20]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
set1.difference(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [21]:
set2.difference(set1)

{7, 8, 9}

In [22]:
## Symmetric difference 
set1.symmetric_difference(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [23]:
## Sets Method
set1={1,2,3}
set2={3,4,5}

## is sunset
print(set1.issubset(set2))

False

In [24]:
lt=[1,2,2,3,4,4,5,6,7]
set(lt)
print(type(lt))

<class 'list'>

In [ ]:
## Counting Unique words in text
text="In this tutorial we are discussing about sets"
words=text.split()
print(words)