In [ ]:
## Dictionaries are unordered collection of items.They store data in key-value pairs.
#  Keys must be uniquje and immutable (e.g, string,number,or tuples).
#  while values can be of any tyhpe

In [3]:
## There are two ways to create empty dictionary
empty_dict={}
empty_dict=dict()
print(type(empty_dict))

<class 'dict'>

In [1]:
student={"name":"Himanshu","age":"24","grade":"24","name":"24"}
print(student)

{'name': '24', 'age': '24', 'grade': '24'}

In [ ]:
## Accessing the dictionary values 
print(student["name"])
print(student["grade"])

Himanshu
24

In [10]:
## Accessing using get() method
print(student.get("name"))
print(student.get("age"))

Himanshu
24

In [3]:
## Accessing Dictionary Elements
student2={"name":"Himanshu","age":"24","grade":"A"}
print(student2)
print(student2["age"])

{'name': 'Himanshu', 'age': '24', 'grade': 'A'}
24

In [5]:
## Accessing Dictionary method using get method (Inbuilt Method)
print(student2.get('grade'))

A

In [ ]:
## Modifying Dictionary Elements
## Dikctionary are mutable, so Yhou can update and delete elements



## updating a value for key
student2["age"]="333"

## Added a new value
print(student2)
student2["address"]="Dhaniv baug Nallasopara east"
print(student2)

{'name': 'Himanshu', 'age': '24', 'grade': 'A', 'address': 'Dhaniv baug Nallasopara east'}
{'name': 'Himanshu', 'age': '333', 'grade': 'A', 'address': 'Dhaniv baug Nallasopara east'}
{'name': 'Himanshu', 'age': '333', 'grade': 'A', 'address': 'Dhaniv baug Nallasopara east'}

In [17]:
## Deliting a key from Dictionary

print(student2)
del student2["age"] 
print(student2)

{'name': 'Himanshu', 'age': '333', 'address': 'Dhaniv baug Nallasopara east'}
{'name': 'Himanshu', 'address': 'Dhaniv baug Nallasopara east'}

In [18]:
## shallow copy
student_copy=student2
print(student_copy)

{'name': 'Himanshu', 'address': 'Dhaniv baug Nallasopara east'}

In [19]:
student["name"]="Himanshu"
print(student2)
print(student_copy)

{'name': 'Himanshu', 'address': 'Dhaniv baug Nallasopara east'}
{'name': 'Himanshu', 'address': 'Dhaniv baug Nallasopara east'}

In [21]:
student_copy1=student.copy()  ## shallow copy
print(student2)
print(student_copy1)

student["name"]="prince"
print(student2)
print(student_copy1)

{'name': 'Himanshu', 'address': 'Dhaniv baug Nallasopara east'}
{'name': 'prince', 'age': '24', 'grade': '24'}
{'name': 'Himanshu', 'address': 'Dhaniv baug Nallasopara east'}
{'name': 'prince', 'age': '24', 'grade': '24'}

In [23]:
## Iterating over Dicytionaries
## You can usje loops to iterative over dictionaries ,or items

## Iterating over Keys
for keys in student2.keys():
    print(keys)

for key in student_copy1.keys():
    print(key)

name
address
name
age
grade

In [24]:
## Ietrate Over values
for values in student_copy1.values():
    print(values)

prince
24
24

In [25]:
## Nested Dictionaries
stu={
    "student1":{"name":"Himanshu","age":"24","address":"Dhaniv baug Nallaospara East"},
    "student2":{"name":"prince","age":"23","address":"ganesh KNagara Nallasopara east"},
    "student3":{"name":"vishwas","age":"22","address":"vasai Nallasopara east"}
}
print(stu)

{'student1': {'name': 'Himanshu', 'age': '24', 'address': 'Dhaniv baug Nallaospara East'}, 'student2': {'name': 'prince', 'age': '23', 'address': 'ganesh KNagara Nallasopara east'}, 'student3': {'name': 'vishwas', 'age': '22', 'address': 'vasai Nallasopara east'}}

In [29]:
## Access the nested Dictionaries Element
print(stu["student1"]["name"])
print(stu["student2"]["name"])
stu["student3"]["name"]

Himanshu
prince

'vishwas'

In [30]:
## Iterating over Nested Dictionaries
for student_id,student_info in stu.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Himanshu', 'age': '24', 'address': 'Dhaniv baug Nallaospara East'}
name:Himanshu
age:24
address:Dhaniv baug Nallaospara East
student2:{'name': 'prince', 'age': '23', 'address': 'ganesh KNagara Nallasopara east'}
name:prince
age:23
address:ganesh KNagara Nallasopara east
student3:{'name': 'vishwas', 'age': '22', 'address': 'vasai Nallasopara east'}
name:vishwas
age:22
address:vasai Nallasopara east

In [31]:
## Dicktionary Comprehension
squares={ x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [32]:
## Conditional Dictionary Comprehension
even={x:x**2 for x in range(10) if x%2==0}
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [33]:
## Practicle Example
## use Dictionary to count the ferequency element in the list
numbers=[1,2,2,2,3,3,3,3,4,4,4,4]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
else:
    frequency[number]=1 
print(frequency)

{4: 1}

In [34]:
## Merge two Dictionaries into single Dictionary
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}