In [1]:
def square(x):
    return x*x
square(10)

100

In [2]:
numbers=[1,2,3,4,5]
final_square=list(map(lambda x:x**2,numbers))
print(final_square)

[1, 4, 9, 16, 25]

In [3]:
## Map multiple itrables
number1=[1,2,3]
number2=[4,5,6]
result=list(map(lambda x,y:x+y,number1,number2))
print(result)

[5, 7, 9]

In [ ]:
string_number=['1','2','3','4','5','6','7','8','9']
creating_to_int=list(map(int,string_number))
print(creating_to_int)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Names=["subtraction","numbners_Square","Himanshu","final_square","result","creating_to_int"]
final_making_upper_to_all=list(map(str.upper,Names))
print(final_making_upper_to_all)

['SUBTRACTION', 'NUMBNERS_SQUARE', 'HIMANSHU', 'FINAL_SQUARE', 'RESULT', 'CREATING_TO_INT']

In [6]:
Names2=["subtraction","numbners_Square","Himanshu","final_square","result","creating_to_int"]
final_making_lower_to_all=list(map(str.lower,Names2))
print(final_making_lower_to_all)

['subtraction', 'numbners_square', 'himanshu', 'final_square', 'result', 'creating_to_int']

In [7]:
def get_name(person):
    return person['name']

people=[{'name':'Himanshu','age':24},{'name':'Ankit','age':25},{'name':'Rohit','age':26}]
names=list(map(get_name,people))
print(names)

['Himanshu', 'Ankit', 'Rohit']